<div class="list cf">
	<div class="list-media">
		<b>Kuala Lumpur Office</b><br>
		Contact Person: Mr.Yap (019-2411382)<br>
		<address>
		No, 24G, Jalan Wangsa 3/6<br>
		Impiana Shop<br>
		Wangsa Permai<br>
		52100 KL<br>
		</address>
	</div>
	<div class="list-info">
		<b>Selangor Office</b><br>
		Contact Person: Mr.Ong (012-6026212)<br>
		<address>
		No.43, Jalan Kemboja 33<br>
		Off Jalan Sultan Alam Shan<br>
		42700 Banting Selangor Darul Ehsan<br>
		</address>
	</div>
</div>
	
<div class="list cf">
	<div class="list-media">
		<b>Negeri Sembilan Office:</b><br>
		Contact Person: Mr.Chok (010-8127991)<br>
		<address>
		No.100, Lorong Bandar Baru Lukut 1/1<br>
		71010 Lukut<br>
		Seremban N.S<br>
		</address>
	</div>

	<div class="list-info">
		<b>Contact us via email</b><br>
		info@solarskyworks.com
	</div>
</div>