<div class="home">
	<h1 class="heading">About Us</h1>
	<p>Solar Skyworks was established and founded by P.Eng Ir.Chok in year 2010 with the dream of bringing back the green to the world. In the earlier time, we provide design, installation and maintenance service for the Off-Grid Solar System for Agricultural Sector. We also supply general electronic gadget to local consumer market.</p>
	<br>
	<p>Today, our services are expanding and moving to a new era. We are a registered Solar Photovoltaic System Service Provider (ISPQ) to serve and promote the green living style by utilizing the renewable energy as encouraged by the government.</p>
	<br>

	<h1 class="heading">Our Vision</h1>
	<p>Our vision is to be the most trusted PV Service Provider in the region and to ensure Customer Total Satisfaction.</p>

	<div class="trusted-logos">
		<img ng-src="assets/images/logo/seda.png">
		<img ng-src="assets/images/logo/fit.png">
		<img ng-src="assets/images/logo/ispq.jpg">
		<img ng-src="assets/images/logo/kettha.png">
</div>