<div class="home">
	<img src="assets/images/under-construction.jpg" style="width: 500px">
	<!--
	<iframe src="http://www.solarmanpv.com/portal/Terminal/iChart/mainChart.aspx?lang=en-us&pid=6035" height="500" width="740"></iframe><br><br>
	<iframe src="http://www.solarmanpv.com/portal/Terminal/iChart/mainChart.aspx?lang=en-us&pid=10235" height="500" width="740"></iframe><br><br>
	<iframe src="http://www.solarmanpv.com/portal/Terminal/iChart/mainChart.aspx?lang=en-us&pid=10490" height="500" width="740"></iframe><br><br>  	<iframe src="http://www.solarmanpv.com/portal/Terminal/iChart/mainChart.aspx?lang=en-us&pid=10651" height="500" width="740"></iframe><br><br> -->

</div>